.image-box {
    /* width: 100%; */
    padding: 15%;
    text-align: left;
    height: 50vh;
    /* margin-left: 35%; */
}

.main-logo {
    height: 100vh;
    width: 54%;
    /* margin-left: 35%; */
    position: relative;
    margin-top: -45px;
}

p {
    justify-content: center;
    text-align: left;
    font-size: 32px;
}

h1 {
    text-align: left;
    padding-top: 19%;
}

#choiceNav {
    text-align:center;
    color: greenyellow;
    font-family: Arial;
    font-size: 48px;
    padding-left: 2rem;
}
