.image-box {
    /* width: 100%; */
    padding: 15%;
    text-align: center;
    height: 100vh;
    margin-left: 35%;
}

p {
    justify-content: center;
    text-align: center;
    font-size: 32px;
}

h1 {
    text-align: center;
}

#choiceNav {
    text-align:center;
    color: greenyellow;
    font-family: Arial;
    font-size: 48px;
    padding-left: 2rem;
}
